
org.ice4j.ice.harvest.FORCE_AWS_HARVESTER=false
org.ice4j.ice.harvest.DISABLE_AWS_HARVESTER=true
org.ice4j.ice.harvest.AbstractUdpHarvester.SO_RCVBUF={{ jitsi_meet_sysctl_rmem_max }}

# Stable
# org.ice4j.ice.harvest.STUN_MAPPING_HARVESTER_ADDRESSES=meet-jit-si-turnrelay.jitsi.net:443

org.ice4j.ice.harvest.NAT_HARVESTER_LOCAL_ADDRESS=jvb.
org.ice4j.ice.harvest.NAT_HARVESTER_PUBLIC_ADDRESS={{ jitsi_meet_public_domain }}

#org.jitsi.videobridge.NAT_HARVESTER_LOCAL_ADDRESS=jvb.meet.jitsi
#org.jitsi.videobridge.NAT_HARVESTER_PUBLIC_ADDRESS={{ jitsi_meet_public_domain }}

org.jitsi.videobridge.DISABLE_TCP_HARVESTER=true
org.jitsi.videobridge.SINGLE_PORT_HARVESTER_PORT=10000
org.jitsi.videobridge.xmpp.user.shard.HOSTNAME=xmpp.meet.jitsi
org.jitsi.videobridge.xmpp.user.shard.DOMAIN=auth.meet.jitsi
org.jitsi.videobridge.xmpp.user.shard.USERNAME=jvb
org.jitsi.videobridge.xmpp.user.shard.PASSWORD={{ jitsi_meet_jvb_auth_password }}
org.jitsi.videobridge.xmpp.user.shard.MUC_JIDS=jvbbrewery@internal-muc.meet.jitsi
org.jitsi.videobridge.xmpp.user.shard.MUC_NICKNAME={{ jitsi_meet_muc_nickname }}
org.jitsi.videobridge.xmpp.user.shard.DISABLE_CERTIFICATE_VERIFICATION=true
org.jitsi.videobridge.ENABLE_STATISTICS=true
org.jitsi.videobridge.STATISTICS_TRANSPORT=muc
org.jitsi.videobridge.STATISTICS_INTERVAL=5000
